{
  "presets": [
    "env",
    "stage-1",
    "react",
    "next/babel"
  ],
  "plugins": [
    "preval",
    "transform-object-assign",
    "flow-react-proptypes",
    "transform-flow-strip-types"
  ]
}
